body {
  font-family: Roboto, sans-serif;
}
img {
  width: 100%;
}
p {
  font-weight: 400;
}
.margin-bottom-7em {
  margin-bottom: 7.5em;
}
.cbp-af-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10000;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  padding: 15px 0 25px 0;
}
nav {
  float: right;
  padding: 33px 0 24px 0;
}
nav a {
  margin-left: 25px;
  color: #189dd8;
}
a {
  color: #696969;
}
.cbp-af-header.cbp-af-header img {
  width: 220px;
}
.cbp-af-header.cbp-af-header-shrink img {
  width: 170px;
}
.cbp-af-header.cbp-af-header-shrink nav {
  padding: 22px 0 16px 0;
}
.cbp-af-header img,
.cbp-af-header.cbp-af-header nav,
.cbp-af-header.cbp-af-header-shrink img,
.cbp-af-header.cbp-af-header-shrink nav {
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
  color: #189dd8;
  transition: 0.5s;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
nav ul li {
  display: inline-block;
}
nav a {
  display: block;
  color: #545454;
}
nav li.active a {
  display: block;
  color: #189dd8;
}
nav ul ul {
  display: none;
  position: absolute;
  top: 24px;
  background: #189dd8;
  color: #fff;
  margin-left: 25px;
  width: 200px;
}
nav ul li:hover > ul {
  display: inherit;
}
nav ul ul li {
  width: auto;
  float: none;
  display: inline;
  position: relative;
}
nav ul ul ul li {
  position: relative;
  top: 0;
}
li > a:after {
  content: " +";
}
li > a:only-child:after {
  content: "";
}
.zoomoutbox img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: 0 0;
  animation: zooomin 13s ease-in infinite;
  transition: all 0.5 ease-in-out;
}
@keyframes zooomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.margin-top {
  margin-top: 121px;
}
.header-text-absolute {
  position: absolute;
  z-index: 1;
  top: 25%;
}
.header-text-absolute h1 {
  font-size: 3.3vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #189dd8;
  margin-bottom: 12px;
  font-family: Montserrat, sans-serif;
}
a.button {
  background: #189dd8;
  padding: 12px 20px;
  display: inline-block;
  border-radius: 99px;
  color: #fff;
  margin-top: 20px;
}
span.carousel-control-next-icon {
  background-image: url(../../images/arrows/right.png);
}
span.carousel-control-prev-icon {
  background-image: url(../../images/arrows/left.png);
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: no-repeat 50%/100% 100%;
}
.carousel-indicators li {
  height: 10px;
  width: 10px;
  border: 2px solid #189dd8;
  border-radius: 99px;
  background: 0 0;
}
.carousel-indicators .active {
  background: #189dd8;
}
ol.carousel-indicators {
  margin-bottom: 3em;
}
.padding-100 {
  padding: 100px 0;
}
\.background-blue {
  background: #189dd8;
  color: #fff;
}
.background-courses {
  width: 100%;
  background-size: cover;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
hr.topic-white {
  border: 2px solid #fff;
  width: 120px;
  margin-bottom: 40px;
}
.icon-width-80 {
  font-size: 80px;
}
.overlay-blue {
  background: #0d6992d9;
}
.bordering {
  padding: 40px;
  border: 5px solid #fff;
  height: 11em;
}
.bordering a {
  color: #fff;
}
.bordering:hover {
  background: #fff;
  transition: 0.5s;
  border: 4px solid #189dd8;
}
.bordering a:hover {
  color: #189dd8;
}
hr.topic-blue {
  border-bottom: 4px solid #189dd8;
  width: 120px;
  margin-bottom: 40px;
}
h2.topic-blue {
  color: #189dd8;
}
.bordering-1 {
  padding: 40px;
  border: 5px solid #189dd8;
  margin-bottom: 30px;
}
.bordering-1:hover {
  background: #189dd8;
  transition: 0.5s;
}
.bordering-1 a:hover {
  color: #fff;
}
.media-main {
  border-radius: 6px;
  overflow: hidden;
}
.media-img {
  width: 100%;
  height: 180px;
}
.media-img img {
  height: 100%;
  width: auto;
}
.date-time {
  position: absolute;
  z-index: 1;
  background: #189dd8;
  color: #fff;
  padding: 5px 8px;
  top: 0;
}
p.topic-in {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
  color: #189dd8;
}
.background-grey {
  background: #f2f2f2;
}
.media-main {
  background: #fff;
  box-shadow: 0 0 3px #00000042;
}
.media-set {
  margin: 20px;
}
p.media-description {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
}
a.button1 {
  background: #189dd8;
  padding: 5px 10px;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
p.share {
  font-size: 13px;
  padding: 6px 0;
  display: inline-block;
}
.media-main:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px #00000030;
  transition: 0.5s;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}
.background-white {
  background: #fff;
}
.logo-1 {
  margin-bottom: 30px;
}
.border-right-1 {
  padding-right: 30px;
  border-right: 1px dashed #696969;
}
.logo-1:hover {
  transform: scale(2);
  transition: 0.5s;
  z-index: 1;
  position: inherit;
}
.footer {
  background: #189dd8;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.youtube-carousel-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
}
.youtube-carousel-main {
  width: 960px;
  height: 540px;
}
.youtube-carousel-gallery {
  width: 20%;
  height: 540px;
  position: relative;
  margin-left: 5px;
  overflow: overlay;
}
.youtube-carousel-main iframe {
  width: 100%;
  height: 100%;
}
.youtube-control {
  width: 100%;
  height: 125px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
  box-sizing: border-box;
}
.youtube-caption {
  font-size: 18px;
  font-family: inherit;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
.growBusiness-vid {
  background-image: url(https://img.youtube.com/vi/ZV7fxqdmEiI/hqdefault.jpg);
}
.timothys-vid {
  background-image: url(https://img.youtube.com/vi/7WaHKkz1OwA/hqdefault.jpg);
}
.watermark-vid {
  background-image: url(https://img.youtube.com/vi/AR6oP5flxdQ/hqdefault.jpg);
}
.taborHill-vid {
  background-image: url(https://img.youtube.com/vi/eGC9kolY0Bg/hqdefault.jpg);
}
.gravityBrew-vid {
  background-image: url(https://img.youtube.com/vi/i98Np2Rzdas/hqdefault.jpg);
}
@media only screen and (max-width: 1210px) {
  .youtube-carousel-wrap {
    flex-wrap: wrap;
  }
  .youtube-carousel-gallery,
  .youtube-carousel-main {
    width: 100%;
  }
  .youtube-carousel-gallery {
    overflow-y: auto;
    height: auto;
    margin-top: 5px;
    white-space: nowrap;
  }
  .youtube-control {
    width: 260px;
    height: 135px;
    display: inline-block;
  }
}
.youtube-carousel-gallery::-webkit-scrollbar {
  width: 10px;
}
.youtube-carousel-gallery::-webkit-scrollbar-track {
  background: #00000052;
}
.youtube-carousel-gallery::-webkit-scrollbar-thumb {
  background: #000000c4;
}
.youtube-carousel-gallery::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
.background-about {
  background: url(../../images/about/student.jpg) no-repeat fixed;
  background-size: cover;
}
.header-in-topic {
  padding: 100px 0;
}
.header-in {
  background: url(../../images/header/about.jpg) no-repeat fixed;
  background-size: cover;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: #189dd8;
  color: #fff;
}
.courses-main {
  margin: 30px 0;
  background: #fff;
  box-shadow: 4px 4px 4px #0000000a;
}
.course-image p {
  position: absolute;
  top: 4em;
  text-align: center;
  width: 92%;
  font-size: 2em;
  z-index: 1111;
  opacity: 0.9;
}
.course-image img {
  opacity: 0.2;
}
li.nav-item-1 {
  width: 100%;
}
.grey {
  background: #f5f5f5;
}
.courses-desc {
  padding: 20px 20px 20px 0;
}
p.link {
  display: inline-block;
  margin-right: 6px;
  padding: 0 10px 0 0;
  border-right: 1px solid #189dd8;
}
p.link-at {
  display: inline-block;
}
.header-in-topic h1 {
  margin-bottom: 10px;
}
.breadcrumb-in {
  font-size: 14px;
}
.link a {
  color: #189dd8;
  font-weight: 700;
}
.header-in-consult {
  background: url(../../images/header/consult.jpg) no-repeat fixed;
  background-size: cover;
}
p.header-topic {
  font-weight: 900;
  margin-bottom: 15px;
}
.courses-det {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 3px #00000042;
}
.courses-image {
  height: 120px;
}
.courses-image img {
  height: 100%;
}
.courses-desc1 {
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
}
span.cutoff {
  text-decoration: line-through;
  color: #848484;
  font-size: 12px;
}
.courses-pricing {
  display: inline-block;
}
.courses-more-det {
  float: right;
}
p.icon {
  font-size: 9px;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  float: right;
  margin-left: 3px;
}
p.icon-2 {
  background: #f5990a;
  padding: 3px;
  font-size: 9px;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  float: right;
  margin-left: 3px;
}
p.icon-3 {
  background: #13a8b9;
  padding: 3px;
  font-size: 9px;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  float: right;
  margin-left: 3px;
}
p.view {
  color: #189dd8;
  text-align: right;
}
.padding-0-100 {
  padding: 0 0 100px 0;
}
.courses-det:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px #00000030;
  transition: 0.5s;
}
.images-zoom {
  width: 100%;
  transition: 0.5s;
  height: 200px;
  overflow: hidden;
}
.images-zoom:hover {
  transform: scale(2);
  z-index: 99999;
  position: relative;
  transition: 0.5s;
}
.width-100 .fas {
  font-size: 40px;
}
.padding-40 {
  padding: 40px;
}
.border-right {
  width: 100%;
}
input.form,
textarea.form {
  border: 1px solid #bababa;
  padding: 10px 15px;
  width: 100%;
  color: #747474;
}
.margin-30 {
  margin-bottom: 30px;
}
textarea.form {
  height: 200px;
}
h4.contact-social {
  background: #0591e5;
  display: inline-block;
  padding: 12px;
  border-radius: 6px;
  color: #fff;
  margin: 0 4px;
  height: 50px;
  width: 50px;
}
a:hover {
  opacity: 0.6;
}
.faq {
  background: #fff;
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 3%);
  border-radius: 0;
}
.faq .card {
  border: none;
  background: 0 0;
  border-bottom: 1px dashed #cee1f8;
}
.faq .card .card-header {
  padding: 0;
  border: none;
  background: 0 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.faq .card .card-header:hover {
  background: #e8f3f8;
  padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}
.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #189dd8;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}
.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  border-top: 1px solid #f3f8ff;
}
.faq .card .card-body p {
  margin-bottom: 14px;
}
@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}
section.faq-section {
  width: 100%;
}
th.width-25 {
  width: 25%;
}
.table {
  margin-bottom: 0;
}
.icon-image {
  width: 70px;
  display: inline-block;
  margin-bottom: 30px;
}
.padding-20 {
  padding: 0 20px;
}
td.room,
th.room {
  padding: 0 15px 0 0;
}
.room-main {
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 10px #00000030;
  margin-bottom: 30px;
}
.room-set {
  padding: 20px;
}
p.link-as {
  display: inline-block;
  margin-right: 6px;
  padding: 0 10px 0 0;
  border-right: 1px solid #189dd8;
}
p.date {
  position: absolute;
  background: #189dd8;
  color: #fff;
  font-size: 13px;
  padding: 6px 15px;
}
p.icon,
p.icon-2,
p.icon-3 {
  height: 20px;
  width: 20px;
  padding: 4px 0;
  text-align: center;
}
p.place {
  color: #6a6a6a;
  font-size: 12px;
  margin-top: 10px;
}
.star-rating {
  margin-bottom: 10px;
  color: #ffeb00;
}
.star-rating p {
  display: inline-block;
  color: #8b8b8b;
  font-size: 12px;
}
.my-main-list {
  display: inline-block;
  width: 100%;
}
h2.topic-in {
  float: left;
  font-weight: 900;
}
.right {
  float: right;
}
p.view-all {
  float: right;
  padding-top: 20px;
}
p.view-all:hover {
  animation: zooomin 0.8s ease-in infinite;
}
nav ul ul a {
  margin: 0;
  color: #fff;
  padding: 15px 25px;
  width: revert;
  border-bottom: 1px dashed #ffffff4a;
}
nav ul ul ul {
  background: #5eb5dd;
  left: 200px;
  top: 0;
  margin-left: 0;
  width: max-content;
}
nav ul ul a:hover {
  background: #1477a3;
  color: #fff;
  width: auto;
  opacity: 9;
}
body {
  font-family: Roboto, sans-serif;
}
img {
  width: 100%;
}
.cbp-af-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10000;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  padding: 15px 0 25px 0;
}
nav {
  float: right;
  padding: 33px 0 24px 0;
}
.cbp-af-header.cbp-af-header img {
  width: 220px;
}
.cbp-af-header.cbp-af-header-shrink img {
  width: 170px;
}
.cbp-af-header.cbp-af-header-shrink nav {
  padding: 22px 0 16px 0;
}
.cbp-af-header img,
.cbp-af-header.cbp-af-header nav,
.cbp-af-header.cbp-af-header-shrink img,
.cbp-af-header.cbp-af-header-shrink nav {
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
  color: #189dd8;
  transition: 0.5s;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
nav ul li {
  display: inline-block;
}
nav ul ul {
  display: none;
  position: absolute;
  top: 24px;
  background: #189dd8;
  color: #fff;
  margin-left: 25px;
  width: 200px;
}
nav ul li:hover > ul {
  display: inherit;
}
nav ul ul li {
  width: auto;
  float: none;
  display: inline;
  position: relative;
}
nav ul ul ul li {
  position: relative;
  top: 0;
}
li > a:after {
  content: " +";
}
li > a:only-child:after {
  content: "";
}
.zoomoutbox img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: 0 0;
  animation: zooomin 13s ease-in infinite;
  transition: all 0.5 ease-in-out;
}
@keyframes zooomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.margin-top {
  margin-top: 121px;
}
.header-text-absolute {
  position: absolute;
  z-index: 1;
  top: 25%;
}
.header-text-absolute h1 {
  font-size: 3.3vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #189dd8;
  margin-bottom: 12px;
  font-family: Montserrat, sans-serif;
}
a.button {
  background: #189dd8;
  padding: 12px 20px;
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  margin-top: 20px;
  transition: 0.5s;
}
span.carousel-control-next-icon {
  background-image: url(../../images/arrows/right.png);
}
span.carousel-control-prev-icon {
  background-image: url(../../images/arrows/left.png);
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: no-repeat 50%/100% 100%;
}
.carousel-indicators li {
  height: 10px;
  width: 10px;
  border: 2px solid #189dd8;
  border-radius: 99px;
  background: 0 0;
}
.carousel-indicators .active {
  background: #189dd8;
}
ol.carousel-indicators {
  margin-bottom: 3em;
}
.padding-100 {
  padding: 100px 0;
}
\.background-blue {
  background: #189dd8;
  color: #fff;
}
.background-courses {
  width: 100%;
  background-size: cover;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
hr.topic-white {
  width: 100px;
  margin-bottom: 40px;
  border: none;
  border-bottom: 4px solid #fff;
}
.icon-width-80 {
  font-size: 55px;
}
.bordering {
  padding: 40px;
  border: 1px solid #fff;
}
.bordering a {
  color: #fff;
}
.bordering:hover {
  background: #fff;
  transition: 0.5s;
  border: 1px solid #189dd8;
}
.bordering a:hover {
  color: #189dd8;
}
hr.topic-blue {
  border-bottom: 4px solid #189dd8;
  width: 100px;
  margin-bottom: 40px;
}
h2.topic-blue {
  color: #189dd8;
}
.bordering-1 {
  padding: 40px;
  border: 1px solid #696969;
  margin-bottom: 30px;
}
.bordering-1:hover {
  background: #189dd8;
  transition: 0.5s;
}
.bordering-1 a:hover {
  color: #fff;
}
.media-main {
  border-radius: 6px;
  overflow: hidden;
}
.media-img {
  width: 100%;
  height: 180px;
}
.media-img img {
  height: 100%;
  width: auto;
}
.date-time {
  position: absolute;
  z-index: 1;
  background: #189dd8;
  color: #fff;
  padding: 5px 8px;
  top: 0;
  border-radius: 6px 0 0 0;
}
p.topic-in {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
  color: #189dd8;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.background-grey {
  background: #f9f9f9;
}
.media-main {
  background: #fff;
  box-shadow: 0 0 3px #00000042;
}
.media-set {
  margin: 20px;
}
p.media-description {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 0;
}
a.button1 {
  background: #189dd8;
  padding: 5px 10px;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
p.share {
  float: right;
  font-size: 18px;
  padding: 2px 0;
  display: inline-block;
  text-align: right;
  margin-left: 3px;
}
.media-main:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px #00000030;
  transition: 0.5s;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}
.background-white {
  background: #fff;
}
.overlay-white {
  background: #000000d9;
  color: #fff;
  background: #020024;
  background: linear-gradient(90deg, #020024 0, rgb(0 212 255 / 48%) 100%);
}
.logo-1 {
  margin-bottom: 30px;
}
.border-right-1 {
  padding-right: 30px;
  border-right: 1px dashed #696969;
}
.logo-1:hover {
  transform: scale(2);
  transition: 0.5s;
  z-index: 1;
  position: inherit;
}
.footer {
  background: #189dd8;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  background: linear-gradient(90deg, #020024 0, rgb(0 212 255 / 48%) 100%);
  font-size: 13px;
}
.youtube-carousel-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  background: #000;
}
.youtube-carousel-main {
  width: 960px;
  height: 540px;
}
.youtube-carousel-gallery {
  width: 20%;
  height: 540px;
  position: relative;
  margin-left: 5px;
  overflow: overlay;
  background: #000;
}
.youtube-carousel-main iframe {
  width: 100%;
  height: 100%;
}
.youtube-control {
  width: 100%;
  height: 125px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
  box-sizing: border-box;
}
.youtube-caption {
  font-size: 18px;
  font-family: inherit;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
.growBusiness-vid {
  background-image: url(../../images/youtube/mfmb.jpg);
}
.timothys-vid {
  background-image: url(../../images/youtube/mfmb1.jpg);
}
.watermark-vid {
  background-image: url(../../images/youtube/mfmb2.jpg);
}
.taborHill-vid {
  background-image: url(https://img.youtube.com/vi/eGC9kolY0Bg/hqdefault.jpg);
}
.gravityBrew-vid {
  background-image: url(https://img.youtube.com/vi/i98Np2Rzdas/hqdefault.jpg);
}
@media only screen and (max-width: 1210px) {
  .youtube-carousel-wrap {
    flex-wrap: wrap;
  }
  .youtube-carousel-gallery,
  .youtube-carousel-main {
    width: 100%;
  }
  .youtube-carousel-gallery {
    overflow-y: auto;
    height: auto;
    margin-top: 5px;
    white-space: nowrap;
  }
  .youtube-control {
    width: 260px;
    height: 135px;
    display: inline-block;
  }
}
.youtube-carousel-gallery::-webkit-scrollbar {
  width: 10px;
}
.youtube-carousel-gallery::-webkit-scrollbar-track {
  background: #00000052;
}
.youtube-carousel-gallery::-webkit-scrollbar-thumb {
  background: #000000c4;
}
.youtube-carousel-gallery::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
.background-about {
  background: url(../../images/about/student.jpg) no-repeat fixed;
  background-size: cover;
}
.header-in-topic {
  padding: 8em 0;
}
.header-in-class {
  background: url(../../images/header/class.jpg) no-repeat fixed;
  background-size: cover;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: #189dd8;
  color: #fff;
}
.courses-main {
  margin: 30px 0;
  background: #fff;
  box-shadow: 4px 4px 4px #0000000a;
}
.course-image p {
  position: absolute;
  top: 4em;
  text-align: center;
  width: 92%;
  font-size: 2em;
  z-index: 1111;
  opacity: 0.9;
}
.course-image img {
  opacity: 0.2;
}
li.nav-item-1 {
  width: 100%;
}
.grey {
  background: #f5f5f5;
}
.courses-desc {
  padding: 20px 20px 20px 0;
}
p.link {
  display: inline-block;
  margin-right: 6px;
  padding: 0 10px 0 0;
  border-right: 1px solid #189dd8;
}
p.link-at {
  display: inline-block;
}
.header-in-topic h1 {
  margin-bottom: 10px;
}
.breadcrumb-in {
  font-size: 14px;
}
.link a {
  color: #189dd8;
  font-weight: 700;
}
.header-in-consult {
  background: url(../../images/header/consult.jpg) no-repeat fixed;
  background-size: cover;
}
p.header-topic {
  font-weight: 900;
  margin-bottom: 15px;
}
.courses-det {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 7px #00000024;
  height: 23em.5;
}
.courses-image {
  height: 150px;
}
.courses-image img {
  height: 100%;
}
.courses-desc1 {
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  background: #fff;
}
span.cutoff {
  text-decoration: line-through;
  color: #848484;
  font-size: 12px;
}
.courses-pricing {
  display: inline-block;
}
.courses-more-det {
  float: right;
}
p.webinar:before {
  background: #ab0f90;
  padding: 3px;
  font-size: 9px;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  float: right;
  margin-left: 0;
  content: "\f03d";
  font-family: FontAwesome;
  display: inline-block;
  padding: 4px;
  height: 20px;
  width: 20px;
  text-align: center;
}
p.icon-2 {
  background: #f5990a;
  padding: 3px;
  font-size: 9px;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  float: right;
  margin-left: 3px;
}
p.icon-3 {
  background: #13a8b9;
  padding: 3px;
  font-size: 9px;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  float: right;
  margin-left: 3px;
}
p.view {
  color: #189dd8;
  text-align: right;
}
.padding-0-100 {
  padding: 0 0 100px 0;
}
.courses-det:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px #00000030;
  transition: 0.5s;
}
.images-zoom {
  width: 100%;
  transition: 0.5s;
  height: 200px;
  overflow: hidden;
}
.images-zoom:hover {
  transform: scale(2);
  z-index: 99999;
  position: relative;
  transition: 0.5s;
}
.width-100 .fas {
  font-size: 40px;
}
.padding-40 {
  padding: 40px;
}
.border-right {
  width: 100%;
}
input.form,
textarea.form {
  border: 1px solid #bababa;
  padding: 10px 15px;
  width: 100%;
  color: #747474;
}
.margin-30 {
  margin-bottom: 30px;
}
textarea.form {
  height: 200px;
}
h4.contact-social {
  background: #0591e5;
  display: inline-block;
  padding: 12px;
  border-radius: 6px;
  color: #fff;
  margin: 0 4px;
  height: 50px;
  width: 50px;
}
a:hover {
  opacity: 0.6;
}
.faq {
  background: #fff;
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 3%);
  border-radius: 0;
}
.faq .card {
  border: none;
  background: 0 0;
  border-bottom: 1px dashed #cee1f8;
}
.faq .card .card-header {
  padding: 0;
  border: none;
  background: 0 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.faq .card .card-header:hover {
  background: #e8f3f8;
  padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}
.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #189dd8;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}
.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  border-top: 1px solid #f3f8ff;
}
.faq .card .card-body p {
  margin-bottom: 14px;
}
@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}
section.faq-section {
  width: 100%;
}
th.width-25 {
  width: 25%;
}
.table {
  margin-bottom: 0;
}
.icon-image {
  width: 70px;
  display: inline-block;
  margin-bottom: 30px;
}
.padding-20 {
  padding: 0 20px;
}
td.room,
th.room {
  padding: 0 15px 0 0;
}
.room-main {
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 10px #00000030;
  margin-bottom: 30px;
  height: 604px;
}
.room-set {
  padding: 20px;
}
p.link-as {
  display: inline-block;
  margin-right: 6px;
  padding: 0 10px 0 0;
  border-right: 1px solid #189dd8;
}
p.date {
  position: absolute;
  background: #189dd8;
  color: #fff;
  font-size: 13px;
  padding: 6px 15px;
  top: 119px;
}
p.icon,
p.icon-2,
p.icon-3 {
  text-align: center;
}
p.place {
  color: #189dd8;
  font-size: 12px;
  margin: 0 0 10px 0;
}
.star-rating {
  margin-bottom: 10px;
  color: #ffeb00;
}
.star-rating p {
  display: inline-block;
  color: #8b8b8b;
  font-size: 12px;
}
.my-main-list {
  display: inline-block;
  width: 100%;
}
h2.topic-in {
  float: left;
  font-weight: 900;
}
.right {
  float: right;
}
p.view-all {
  float: right;
  padding-top: 20px;
}
p.view-all:hover {
  animation: zooomin 0.8s ease-in infinite;
}
nav ul ul a {
  margin: 0;
  color: #fff;
  padding: 15px 25px;
  width: revert;
  border-bottom: 1px dashed #ffffff4a;
}
nav ul ul ul {
  background: #5eb5dd;
  left: 200px;
  top: 0;
  margin-left: 0;
  width: max-content;
}
nav ul ul a:hover {
  background: #1477a3;
  color: #fff;
  width: auto;
  opacity: 9;
}
iframe#google_viewer {
  height: 400px;
}
.side-bar-main {
  box-shadow: 0 0 3px #00000042;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
}
.side-topic {
  background: #189dd8;
  color: #fff;
  padding: 15px 20px;
}
p.calendar {
  padding: 7px 0;
  width: 100%;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
  font-size: 14px;
}
p.calendar-1 {
  padding: 7px 35px;
  width: 100%;
  border-right: 1px solid #e7e7e7;
  text-align: center;
  font-size: 14px;
}
.padding-left-30 {
  padding-left: 30px;
}
p.calendar-1:hover,
p.calendar:hover {
  background: #212529;
  transition: 0.5s;
  color: #fff;
}
span.total-l {
  font-size: 9px;
  display: inline-block;
  background: #276591;
  position: absolute;
  left: 10px;
  top: 7px;
  color: #fff;
  border-radius: 99px;
  padding: 3px 5px;
  font-weight: 600;
}
span.total-r {
  font-size: 9px;
  display: inline-block;
  background: #912780;
  position: absolute;
  right: 10px;
  top: 7px;
  color: #fff;
  border-radius: 99px;
  padding: 3px 5px;
  font-weight: 600;
}
div#editor {
  border: 1px solid #bababa;
  padding: 10px 15px;
  width: 100%;
  color: #747474;
}
img#imgAvatar {
  border: 1px solid #bcbcbc;
}
input.button {
  background: #189dd8;
  padding: 12px 25px;
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  border: none;
}
.course-desc-intro th {
  padding: 15px 20px;
  background: #189dd8;
  color: #fff;
}
.course-desc-intro tr {
  background: #f2f2f2;
}
.course-desc-intro tr:nth-child(even) {
  background-color: #fff;
}
.course-desc-intro td {
  padding: 15px 20px;
}
p.form-text {
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
}
a.button:hover,
input.button:hover {
  background: #0c506e;
  transition: 0.5s;
  opacity: 0.9;
}
.header-in-course {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    90deg,
    #020024 0,
    rgb(0 212 255 / 48%) 100%
  );
  color: #fff;
}
.header-in-course-img {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
  height: 100%;
  overflow: hidden;
}
span.dashed {
  text-decoration: line-through;
}
h4.topic {
  border-bottom: 3px solid #189dd8;
  padding: 0 0 10px 0;
  display: inline-block;
  width: 150px;
  margin-bottom: 20px;
}
table.table-mystyle td {
  display: table-cell;
  padding: 5px 0;
  padding-right: 20px;
}
p.webinar {
  float: right;
  margin-left: 3px;
}
p.class:before {
  background: #f5990a;
  padding: 3px;
  font-size: 9px;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  float: right;
  margin-left: 0;
  content: "\f3c5";
  font-family: FontAwesome;
  display: inline-block;
  padding: 4px;
  height: 20px;
  width: 20px;
  text-align: center;
}
p.class {
  display: inline-block;
  float: right;
  margin-left: 3px;
}
ul#pills-tab {
  background: #ccc;
}
div#pills-tabContent {
  border: 1px solid #ccc;
  padding: 20px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #189dd8;
  border-radius: 0;
  padding: 15px 25px;
}
p.side-by-side {
  display: inline-block;
  margin-right: 30px;
}
.border-box {
  border: 1px solid #ccc;
  padding: 30px;
}
p.price-before {
  font-size: 25px;
  font-weight: 900;
  color: #189dd8;
}
p.norm-price {
  font-size: 11px;
}
.far,
p.more-det .fas {
  text-align: center;
  width: 20px;
}
.more-det-icon {
  float: left;
  height: 1px;
}
.more-det-main li {
  list-style: none;
}
.more-det-main ul {
  padding: 0;
  display: inline-block;
}
.more-det-main {
  width: 100%;
  display: inline-block;
  margin-top: 5px;
}
.more-det-group {
  margin-top: 10px;
}
p.more-det {
  font-size: 14px;
  text-transform: capitalize;
  display: inline-block;
}
.width-full {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  background: #ccc;
  padding: 10px;
}
.left-align {
  display: inline-block;
}
.right-align {
  float: right;
}
a.button2 {
  background: #912680;
  padding: 12px 20px;
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  margin-top: 20px;
}
.nav-pills .nav-link {
  padding: 15px 25px;
}
div#pills-tabContent thead {
  background: #189dd8;
  color: #fff;
}
div#pills-tabContent td,
div#pills-tabContent th {
  padding: 20px;
  border: 1px solid #fff;
}
div#pills-tabContent tr:nth-child(even) {
  background: #f2f2f2;
}
.header-in-contact {
  background: url(../../images/header/contact.jpg) no-repeat fixed;
  background-size: cover;
}
.header-in-about {
  background: url(../../images/header/building.jpg) no-repeat fixed;
  background-size: cover;
}
p.form-text-topic {
  background: #189dd8;
  padding: 30px;
  color: #fff;
  font-weight: 900;
  background: linear-gradient(90deg, #020024 0, rgb(0 212 255 / 48%) 100%);
}
.text-center .button,
.text-center .button2 {
  width: 200px;
}
.header-in-room {
  background: url(../../images/header/boardroom.jpg) no-repeat fixed;
  background-size: cover;
}
.on-top h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  top: 22%;
}
a.footer-nav {
  display: block;
}
.footer-nav-main {
  background: url(https://images.unsplash.com/photo-1587149185211-28a2ef4c9a10?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80)
    fixed no-repeat;
  background-size: cover;
}
a.footer-nav {
  margin-top: 5px;
  color: #cecece;
}
p.footer-nav-topic {
  font-weight: 800;
  margin-bottom: 15px;
  color: #189dd8;
}
.width-200 {
  width: 200px;
  margin-bottom: 30px;
}
.footer-nav-main i.fab {
  background: #189dd8;
  width: 30px;
  height: 30px;
  padding: 9px;
  text-align: center;
  border-radius: 99px;
  margin-right: 2px;
  color: #fff;
  font-size: 13px;
}
.footer-nav-subscribe {
  background: #0a3e55;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}
.footer-nav-subscribe h3,
.footer-nav-subscribe input {
  display: inline-block;
}
input.subscribe {
  padding: 10px 25px;
}
.footer-nav-subscribe h3 {
  margin: 0 30px;
}
.padding-80 {
  padding: 80px 0;
}
.overlay-black {
  background: #000000d6;
  color: #cecece;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 121px;
}
.youtube-carousel-gallery::-webkit-scrollbar {
  width: 10px;
}
.youtube-carousel-gallery::-webkit-scrollbar-track {
  background: #000;
}
.youtube-carousel-gallery::-webkit-scrollbar-thumb {
  background: #3e3e3e;
}
.youtube-carousel-gallery::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.background-seminar {
  background: url(../../images/background/seminar.jpg) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  box-shadow: inset 160px 0 100px 0 #189dd896;
  outline: 2px solid #ffffff85;
  outline-offset: -30px;
}
.padding-100-0 {
  padding: 100px 0 0 0;
}
select#form {
  border: 1px solid #bababa;
  padding: 10px 15px;
  width: 100%;
  color: #747474;
}
.courses-desc1 p {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.padding-right-30 {
  padding-right: 30px;
}
.date-main {
  width: 10%;
  display: inline-block;
}
.main-topic-in-1 {
  display: inline-block;
  width: 86%;
  float: right;
  display: table;
  height: 135px;
}
.date-set-date {
  border: 1px solid #e7e7e7;
  color: #272727;
  font-size: 35px;
  text-align: center;
  padding: 15px 0;
  font-weight: 900;
}
.date-set-year {
  border: 1px solid #e7e7e7;
  color: #272727;
  text-align: center;
  font-size: 12px;
  padding: 3px 0;
  font-weight: 900;
}
.date-set-month {
  background: #189dd8;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 5px 0;
}
.main-desc-in-1 {
  border: 1px solid #e7e7e7;
  padding: 30px;
}
.main-desc-in-1 img {
  border: 1px solid #e7e7e7;
  margin-bottom: 30px;
}
.square.image {
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.square.image img {
  height: 100%;
  width: auto;
}
.recent-image {
  display: inline-block;
  width: 20%;
}
.recent-text {
  float: right;
  width: 75%;
}
.text-overflow-hide {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 12px;
}
.recent-main {
  border-bottom: 1px solid #e7e7e7;
  margin: 5px 0;
  padding: 5px 0;
}
h2.topic-in-1 {
  display: table-cell;
  vertical-align: middle;
}
p.menu-topic {
  font-weight: 500;
  color: #189dd8;
  padding-bottom: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.group:after,
.group:before {
  content: " ";
  display: table;
}
.group:after {
  clear: both;
}
.header-icon {
  border-bottom: 2px solid $color-secondary;
  padding: $base-spacing-unit-half $base-spacing-unit;
  text-align: right;
  margin-bottom: 20px;
  background: #f2f2f2;
  padding: 10px;
}
.icon {
  color: $color-secondary;
  font-size: 36px;
  margin-left: $base-spacing-unit-half;
  vertical-align: middle;
}
.icon.active {
  color: #189dd8;
}
.icon:hover {
  cursor: pointer;
}
.icon:first-child {
  margin-left: 0;
}
.icon--grid,
.icon--list {
  font-size: 20px;
  margin-left: 5px;
}
.products {
  padding: $base-spacing-unit-half;
}
.product {
  float: left;
  padding: $base-spacing-unit-half;
  margin-bottom: $base-spacing-unit;
}
.product__image {
  margin-bottom: $base-spacing-unit;
}
.product__image img {
  display: block;
  height: auto;
  max-width: 100%;
}
.product__name {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: $base-spacing-unit-half;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product__price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: $base-spacing-unit-half;
}
.product__short-description {
  margin-bottom: $base-spacing-unit;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-top: 15px;
  height: 120px;
}
.add-to-cart {
  background: $color-primary;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-top: $base-spacing-unit-half;
  padding: $base-spacing-unit-half;
  margin-top: 15px;
}
.add-to-cart:hover {
  opacity: 0.75;
  cursor: pointer;
}
.list .product__image {
  float: left;
  width: 33.33333%;
  margin-right: 30px;
}
.list .product__details {
  float: left;
  padding-left: $base-spacing-unit;
  padding-bottom: 45px;
  text-align: left;
  width: 63.66666%;
  margin: 0;
}
.list .add-to-cart {
  width: 50%;
}
.grid .product {
  width: 30.33333%;
  margin: 15px;
  border: 1px solid #f2f2f2;
  margin-bottom: 30px;
  margin-top: 0;
}
.list .product {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
}
.product__details {
  margin: 20px;
}
section.products.group.grid .product__image {
  height: 178px;
  overflow: hidden;
}
p.date-in {
  font-size: 12px;
  margin-top: 7px;
  color: #8c8c8c;
  text-transform: uppercase;
}
section.product__short-description h1,
section.product__short-description h2,
section.product__short-description h3,
section.product__short-description h4,
section.product__short-description h5,
section.product__short-description img {
  display: none;
}
section.products.group.list section.product__image {
  height: 233px;
  overflow: hidden;
}
section.products.group.list section.product__image img {
  width: 100%;
  height: inherit;
}
.media-desc-text {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 65px;
  margin-bottom: 10px;
}
.media-set img {
  display: none;
}
.right li {
  display: inline-block;
  text-align: center;
  font-size: 14px;
}
.product__details iframe {
  display: none;
}
.media-set iframe {
  display: none;
}
p.topic-1-2 {
  height: 43px;
}
p.course-topic-1-2 {
  height: 45px;
}
.righ-main-link {
  display: inline-block;
  margin-left: 15px;
}
.righ-main-list {
  display: inline-block;
}
.righ-main-list li {
  background: #eaeaea;
  width: 30px;
  padding: 4px;
  border-radius: 4px;
  margin-right: 2px;
}
.righ-main-link li {
  margin-right: 2px;
}
.righ-main-link li.active a {
  font-weight: 900;
  color: #189dd8;
}
.righ-main-list li.active,
.righ-main-list li.active a {
  background: #189dd8;
  color: #fff;
}
.righ-main-list li a:hover,
.righ-main-list li:hover {
  background: #189dd8;
  color: #fff;
}
.catering {
  background: #e25858;
}
.cater-icon {
  background: #e6e6e6;
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
}
.catering p {
  color: #fff;
}
.cater-det {
  padding: 15px 15px 15px 0;
}
.cater-icon .fas {
  padding: 29px 0;
  font-size: 38px;
  color: #e25858;
}
.room-det-in {
  height: 255px;
}
.header-in-achievement {
  background: url(../../images/header/achive.jpg) no-repeat fixed;
  background-size: cover;
}
.header-in-team {
  background: url(../../images/header/team.jpg) no-repeat fixed;
  background-size: contain;
}
.media-main {
  margin-bottom: 30px;
}
@media (max-width: 1210px) {
  header .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 65px;
    height: 22px;
    width: 22px;
    z-index: 999;
  }
  header.smaller .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 35px;
    height: 22px;
    width: 22px;
    z-index: 999;
  }
  .icon-bars {
    background: #009fd9;
    position: absolute;
    left: 1px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .icon-bars::before {
    background: #009fd9;
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }
  .icon-bars::after {
    margin-top: 0;
    background: #009fd9;
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }
  .icon-bars.overlay {
    background: #617281;
    background: #b7c7d3;
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
  }
  @keyframes middleBar {
    0% {
      width: 0;
    }
    50% {
      width: 20px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes middleBar {
    0% {
      width: 0;
    }
    50% {
      width: 20px;
    }
    100% {
      width: 0;
    }
  }
  .icon-bars.overlay::before {
    background: #617281;
    background: #b7c7d3;
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
  }
  @keyframes topBar {
    0% {
      width: 0;
    }
    50% {
      width: 10px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes topBar {
    0% {
      width: 0;
    }
    50% {
      width: 10px;
    }
    100% {
      width: 0;
    }
  }
  .icon-bars.overlay::after {
    background: #617281;
    background: #b7c7d3;
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
  }
  @keyframes bottomBar {
    0% {
      width: 0;
    }
    50% {
      width: 15px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes bottomBar {
    0% {
      width: 0;
    }
    50% {
      width: 15px;
    }
    100% {
      width: 0;
    }
  }
  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }
  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}
.overlay-menu {
  background: #000000eb;
  color: #0d1a26;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100%;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  z-index: 998;
  height: 100%;
  overflow: overlay;
}
.overlay-menu li,
.overlay-menu ul {
  display: block;
  position: relative;
  top: 100px;
}
.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 4px;
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #009fd9;
}
.overlay-menu li a:active,
.overlay-menu li a:hover {
  color: #009fd9;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
ul#menu {
  margin: 0;
  padding: 0 0;
}
@media only screen and (max-width: 450px) {
  .padding-left-30 {
    padding-left: 0;
  }
  .my-main-list {
    margin-top: 30px;
  }
  h2.topic-in {
    margin-bottom: 10px;
  }
  .righ-main-link {
    margin-left: 0;
  }
  .right {
    float: left;
    margin: 10px 0 0 0;
  }
  p.footer-nav-topic {
    margin-top: 40px;
  }
  .bordering {
    margin-bottom: 30px;
  }
  .border-right-1 {
    border: none;
    padding: 0;
  }
  .header-text-absolute {
    position: absolute;
    left: 20%;
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  nav {
    display: none;
  }
  .header-text-absolute {
    position: absolute;
    left: 20%;
  }
  .header-text-absolute p {
    display: none;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  #navbar {
    display: none;
  }
}
.menuIcon {
  right: 80px;
  top: 60px;
  position: absolute;
  z-index: 999;
}
.login-border {
  padding: 30px;
  background: #fff;
  box-shadow: 5px 5px 10px #00000040;
}
label.checkbox {
  margin: 0 0 20px 0;
}
.background-image-login {
  background: linear-gradient(90deg, #020024 0, rgb(0 212 255 / 48%) 100%);
  padding: 20vh 0;
}
p.login {
  margin-top: 5px;
  font-size: 14px;
  color: #189dd8;
}
input.form-control {
  margin-top: 25px;
}
input.form-control {
  margin-top: 25px;
  padding: 15px;
  border-radius: 0;
  height: 50px;
}
.show {
  margin-top: 20px;
}
button.btn.btn-lg.btn-primary.btn-block {
  margin-top: 30px;
}
h2.form-signin-heading {
  color: #000;
  letter-spacing: -1px;
  font-size: 29px;
}
button.btn.btn-lg.btn-primary.btn-block {
  margin-top: 25px;
}
h2.form-signin-heading {
  color: #000;
  letter-spacing: -1px;
  font-size: 29px;
}
.course-set-pp {
  display: inline-block;
  width: 100%;
}
.margin-bottom-30 {
  width: 100%;
  margin-bottom: 30px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0 0 0 / 81%);
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 99999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 0.5s ease-in-out;
  top: 20%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 0.2s;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
.more-det-text {
  display: inline-block;
  width: 78%;
}
button#add {
  width: max-content;
  margin-bottom: 15px;
}
input.form-control.name_list {
  margin-bottom: 15px;
  margin-top: 0;
}
table#dynamic_field {
  width: 100%;
}
form#add_name label {
  margin-bottom: 0;
  margin-right: 20px;
  color: #495057;
  padding: 10px 0;
}
.btn_remove {
  margin-bottom: 15px;
}
form#add_name p {
  padding: 12px 0;
}
.table-striped input.form {
  background: #189dd8;
  padding: 8px 15px;
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  margin-top: 20px;
  transition: 0.5s;
  border: none;
  font-size: 14px;
}
.table-striped input.form:hover {
  background: #0c506e;
  transition: 0.5s;
  opacity: 0.9;
}
input.form-1,
textarea.form-1 {
  border: 1px solid #bababa;
  padding: 10px 15px;
  width: 100%;
  color: #747474;
  margin-bottom: 25px;
}
.back-cons {
  height: 100%;
  background: url(https://images.unsplash.com/photo-1554200876-56c2f25224fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)
    no-repeat;
  background-size: cover;
}
.form-package-det {
  height: 100%;
  padding: 50px;
}
.form-pading {
  width: 100%;
  margin-bottom: 15px;
}
.back-room {
  background: url(../../images/rooms/room.jpg) no-repeat;
  background-size: inherit;
  height: 100%;
  height: 604px;
}
.pos-abs {
  margin-top: 35%;
  padding: 50px 50px 50px 35px;
  position: absolute;
}
h5.slide {
  background: linear-gradient(90deg, #020024 0, rgb(0 212 255 / 48%) 100%);
  position: absolute;
  bottom: 20%;
  width: 100%;
  padding: 20px;
  font-weight: 900;
  font-size: 2em;
}
.carousel-caption.d-none.d-md-block {
  position: unset;
}
select#cars {
  border: 1px solid #bababa;
  padding: 10px 15px;
  width: 100%;
  color: #747474;
  margin-bottom: 25px;
}
h1.ff-name {
  display: inline-block;
  margin-right: 10px;
  background: #3d0c6a;
  color: #fff;
  padding: 12px;
  height: 85px;
  width: 85px;
  border-radius: 99px;
  text-align: center;
  border: 8px solid #e7e7e7;
}
p.trainers-name {
  display: inline-block;
  font-size: 35px;
}
.trainer-name-info {
  margin-bottom: 20px;
}
